.pacientes {
    padding: 20px;
    animation: fadeIn 0.3s ease-in-out;
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.busca {
    padding: 16px;
    width: 660px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.2s;
}

.btn-buscar {
    padding: 16px 30px;
    background: none;
    color: #0082ec;
    border: 1px solid #0082ec;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
    transition: background 0.2s;
}

.btn-buscar:hover {
    background: #0082ec;
    color: white;
}

.add-paciente {
    padding: 16px 30px;
    background: #0082ec;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.2s;
}

.add-paciente:hover {
    background: #0062c4;
}

.pacientes-tabela-wrapper {
    background: white;
    border: 0.5px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.pacientes-tabela {
    width: 100%;
    border-collapse: collapse;
}

.pacientes-tabela th {
    font-size: 13px;
    font-weight: 500;
    color: #888;
    text-align: left;
    padding: 10px 16px;
    border-bottom: 0.5px solid #eee;
    background: #fafafa;
}

.pacientes-tabela td {
    font-size: 16px;
    padding: 14px 16px;
    border-bottom: 0.5px solid #eee;
}

.pacientes-tabela tbody tr:last-child td {
    border-bottom: none;
}

.pacientes-tabela tbody tr:hover td {
    background: #f9f9f9;
}

/* .badge {
    border-radius: 12px;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 500;
}

.badge-ok     { background: #EAF3DE; color: #3B6D11; }
.badge-warn   { background: #FAEEDA; color: #854F0B; }
.badge-danger { background: #FCEBEB; color: #A32D2D; } */

.botao-ver {
    background: none;
    border: 0.5px solid #0082ec;
    color: #0082ec;
    border-radius: 6px;
    padding: 6px 14px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s;
}

.botao-ver:hover {
    background: #0082ec;
    color: white;
}